<div class="container">	
	<div  vocab="http://schema.org/" about="#World_Cup_2018 "typeof="SportsEvent">	   	   
		<div>
				<h1><span property="name">2018 Fifa World Cup Russia</span></h1>    	   	    

			<div property="performer" typeof="SportsTeam">
			<p >
			  <strong>Continente: </strong>  
			  <span property="name" ><%= @champion.teams.first.continente %></span>
			</p>			
			<p>
			    <span> Bandeira oficial do país: </span>
			    <%= image_tag(@champion.teams.first.urlBandeira, :alt => "flag of champion", :property => "image", :style => "border: solid 1px black") %>  
			</p>
			</div>
			<p >
			  <strong>Resumo da vitória da <span property="name" >França</span></strong>
			  <br> 
			  <br>     
			
			
			<span property="description"> A final da Copa do Mundo FIFA de 2018 foi realizada em 15 de julho no Estádio Lujniki em Moscou, na Rússia, entre as seleções da França e da Croácia. Foi a 21ª final da Copa do Mundo FIFA, sendo a terceira vez que a Seleção Francesa chegava a uma final de Copa do Mundo, e a primeira da Croácia. Com isso, a Croácia tornou-se o 13º país diferente a chegar à final da Copa. Além disso, para chegar a esta Final, a Seleção Croata precisou passar por 3 prorrogações, sendo a primeira vez que uma equipe chegou à uma Final de Copa precisando enfrentar 3 prorrogações.</span>
			</p>  
		 </div>

		 <div> 
		 		<%= image_tag("jules", :property => "image") %>
		</div>
	    
		</div>
	</div>
