<div class="container">
	<div class="jumbotron" style="background-image: url(/assets/russia_jumbotron_2); background-size: cover; color: white; margin-top: 30px">
  <h1 class="display-4" style="color: white"><strong>A copa do Mundo da Russia</strong></h1>
  <p class="lead">A Copa do Mundo FIFA de 2018 foi a vigésima primeira edição deste evento esportivo, um torneio internacional de futebol masculino organizado pela Federação Internacional de Futebol (FIFA), que ocorreu na Rússia, anfitriã da competição pela primeira vez.</p>
  <hr class="my-4">
  <p>Esta página contem as principais informações sobre o torneio realizado este ano no terririo russo. entre para acessar mais!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais sobre a copa</a>
  </p>
</div>	
</div>

