<!-- Footer -->
<footer class="page-footer font-small teal pt-4" style="background-color: #007bff">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3" >

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Tópicos Especiais</h5>
          <p>Disciplina da grade curricular da disciplina de Sistemas Para Internet. Atualmente Ministrada pela professora Damires Yluska.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3" >

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">IFPB</h5>
          <p>Instituto Federal de Tecnologia da Paraíba. Agrega diversos cursos tecnológicos e Superiores, atendendo diversas regiões do estado.</p>

        </div>
        <!-- Grid column -->

        <div class="col-md-4 mb-md-0 mb-3" >

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Fifa</h5>
          <p>A Federação Internacional de Futebol, por vezes referida como Federação Internacional de Futebol Associação, mais conhecida pelo acrônimo FIFA, é a associação internacional que dirige as associações de futsal, futebol de areia e futebol, o esporte coletivo mais popular do mundo. Filiada ao Comitê Olímpico Internacional, a FIFA foi fundada em Paris em 21 de maio de 1904 e tem sua sede em Zurique, na Suíça</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: #4870af; color: white;" >© 2018 IFPB:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/" style="color: white">Disciplina de Tópicos</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
